.tracks-table {
  color: white;
  font-family: 'Signika Negative', sans-serif;
  font-size: 18px;
  margin: 0px 40px;
  overflow-x: hidden;
  padding: 0px 10px;
  top: 350px;
  .background {
    background-color: rgba(255, 255, 255, 0.05);
  }
  .row {
    &:hover {
      background: #b53e4e;
      cursor: pointer;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  td {
    padding: 5px;
    text-align: left;
  }
  th {
    @extend td, .background;
  }
  tr:nth-child(even) {
    @extend .background;
  }
}