.search-bar {
  input {
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
    height: 30px;
    left: 0;
    margin: auto;
    padding: 0px 10px;
    position: absolute;
    right: 0;
    top: 300px;
    width: 60vw;

    &:focus {
      outline: none;
    }
  }
}