.search-bar {
  display: flex;
  justify-content: center;

  input {
    background-color: transparent;
    border-radius: 35px;
    border: 2px solid white;
    color: white;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 40px 0px;
    padding: 5px 20px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}